body{
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
    font-family: sans-serif;
    background-color: hsl(206, 33%, 96%);
}
.nav-center{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 60px;
    box-shadow: 0px 0px 20px 0px grey ;
    
}
h4{
    font-size: 20px;
    color: hsl(205, 63%, 48%);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nav-links{
    display: flex;
    list-style: none;
    list-style-type: none;
    gap: 30px;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:hsl(205, 63%, 48%) ;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16%;
}
h2{
    background-color: black;
    border-radius:10px;
    width: 700px;
    height: 60px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
span{
    color:hsl(205, 63%, 48%) ;
    text-transform: uppercase;
}
button{
    font-size: 20px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: 0px 5px 5px 0px grey;
}
button:hover{
    background-color: black;
    color: white;
}